.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

.dot {
  position: absolute;
  background-color: red;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}
